<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Менеджер контактов</title>
</head>
<body>
    <table border="5" cellpadding="5" cellspacing="5">
        <caption>Контакты</caption>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Номер телефона</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.phoneNumber}"></td>
                <td>
                    <a th:href="@{/contacts/{id}/edit(id=${contact.id})}">Редактировать</a>
                    <a th:href="@{/contacts/{id}/delete(id=${contact.id})}">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/contacts/create}">Создать</a>
</body>
</html>